<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lottery.mapper.LotteryMapper">


    <select id="getAllAward1" resultType="com.example.lottery.model.Award">
        select id ,name,count
        from award
    </select>
    <select id="selectWinner1" resultType="com.example.lottery.model.LotteryWinner">
        select *
        from winner
    </select>
    <select id="selectWinnerByAwardId" resultType="com.example.lottery.model.LotteryWinner">
        select *
        from winner
        where award_id = #{awardId}
    </select>
</mapper>
